extends ../templates/project.jade

block variables
	- var slug = "terps-season";
	
	- var title = "Terps Season Guide";
	- var company = "The Baltimore Sun";
	- var date = "January 2015";
	- var summary = "Leaving behind the decorated ACC, Maryland's mens basketball team faced a fresh slate of conference foes in the Big Ten. This interactive, which was updated throughout the season, aggregated brief recaps of each game and linked out to full Baltimore Sun game stories, helping to document the Terps' first year in the conference - and all the success the team had.";
	- var link = "http://data.baltimoresun.com/terps/season-guide-2014-2015/";
	
	- var about = "The Sun generates a lot of content for every basketball game - lengthy game stories with interviews, photos, and more - but as the season progresses, it's rarely as readily available as it once was. This project, updated after every game, allowed us to give readers access to all that great content in one place. We liked the idea of being able to scroll through the season, so we opted for a single-page presentation with morphing jerseys inspired by the <span class='code'>background-attachment: fixed</span> trend.";
	- var role = "I was the sole developer on this project, working with one other teammate who did majority of the design. Because we needed to continually update the graphic, I made sure to build the interactive in easily replicated modules - supported by various modifer classes to accommodate anomalies such as longer names - in a largely automated environment.";

	- var accent = "#FFD420";
	- var background = "#222";
	- var backgroundrgba = "rgba(34,34,34,0.6)";
	
	//- Light or Dark iPad and iPhone?
	- var devicecolor = "light";



//Comment out any unused section

block about			
	.project-info__block(data-sr)
		.project-info__icon
			span.icon-monitor
		.project-info__block__content
			header ABOUT THE PROJECT
			div !{about}

block role							
	.project-info__block(data-sr)
		.project-info__icon
			span.icon-pencil
		.project-info__block__content
			header MY ROLE
			div !{role}

// block numbers
// 	.project-info__block(data-sr)
// 		.project-info__icon
// 			span.icon-graph
// 		.project-info__block__content
// 			header BY THE NUMBERS
// 			div !{numbers}

// block awards
// 	.project-info__block.project-info__block--awards(data-sr)
// 		.project-info__icon
// 			span.icon-trophy
// 		.project-info__block__content
// 			header AWARDS
// 			div !{awards}







