nav
	.nav__content
		.nav__logo
			a(href="/index.html")
				.name.name--nav
					span.no-space.bright G
					span
						img(src="/images/cross--single-transparency.png")
					span.no-space.bright K		
		.nav__column.nav__column--left
			.nav__link-btns
				.nav__link-btn.nav__link-btn--mobile
					a.nav__link--hash(href="/index.html#projects") PROJECTS
				.nav__link-btn
					a.nav__link--hash(href="/index.html#experience") EXPERIENCE
				.nav__link-btn
					a.nav__link--hash(href="/index.html#all-skills") SKILLS
				.nav__link-btn
					a(href="/resume/resume.pdf" target="_blank") RESUME
			.nav__social-tools
				.nav__social-tool
					a.nav__social-tool__text(href="http://www.codepen.io/gregkohn" target="_blank") <span class="icon-codepen"></span> gregkohn
				.nav__social-tool
					a.nav__social-tool__text(href="http://www.twitter.com/gregkohn" target="_blank") <span class="icon-twitter2"></span> @gregkohn
				.nav__social-tool
					a.nav__social-tool__text(href="mailto:greg7kohn@gmail.com" target="_blank") <span class="icon-mail"></span> greg7kohn@gmail.com
		.nav__column.nav__column--right
			.nav__projects
				.nav__link-btn.nav__link-btn--center
					a(href="/index.html#projects") FEATURED
				ul.nav__project-list
					li
						a(href="/projects/freddie-45.html" style="color: #eecf00;") The Freddie Gray Mystery
					li
						a(href="/projects/tracking-omalley.html" style="color: #4ecbc2;") Tracking Martin O'Malley
					li
						a(href="/projects/homicides-map.html" style="color: #ca4a4b;") Homicides Map
					li
						a(href="/projects/orioles-roster.html" style="color: #ea5f1d;") Orioles Roster 2015
					li
						a(href="/projects/undue-force.html" style="color: #6598c2;") Undue Force
				.nav__projects__all
					a.nav__link--hash(href="/index.html#projects") + all projects

